{% extends 'budget/base.html' %}
{% block title %}Создать категорию дохода{% endblock %}
{% block content %}
    <div class="container my-5 col-lg-12">
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %}
                    class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
        <h1>Создайте источник дохода</h1>
        <form method="post" action="{% url 'add_income_category' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group col-lg-3">
                <label for="name" class="form-label">Название источника:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Название источника"
                       required>
                <div class="invalid-feedback">Пожалуйста, введите название подкатегории.</div>
            </div>
            <button type="submit" class="btn btn-primary my-3">Создать</button>
        </form>
    </div>
{% endblock %}

