{% extends 'budget/base.html' %}
{% block title %} Добавить расход {% endblock %}
{% block content %}
    <div class="container my-5 col-md-5">
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %}
                    class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
        <h1>Добавить расход</h1>
        <form method="get" action="{% url 'add_expense' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="category">Категория:</label>
                <div class="input-group">
                    <select id="category" name="category" class="form-select" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == selected_category_id %}
                                    selected {% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        &nbsp;
                        <button type="submit" class="btn btn-primary bi bi-arrow-clockwise"></button>
                        <a href="{% url 'add_category' %}" class="btn btn-success">+</a>
                        <a href="{% url 'category_list' %}" class="btn btn-danger bi bi-pencil-square"></a>
                    </div>
                </div>
            </div>

        </form>
        <form method="post" action="{% url 'add_expense' %}" class="needs-validation" novalidate>
            {% csrf_token %}
            <input type="hidden" name="category" value="{{ selected_category_id }}">
            <div class="form-group">
                <label for="subcategory">Подкатегория:</label>
                <div class="input-group">
                    <select id="subcategory" name="subcategory" class="form-select" required>
                        {% for subcategory in subcategories %}
                            <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        &nbsp;
                        <a href="{% url 'add_subcategory' %}" class="btn btn-success">+</a>
                        <a href="{% url 'subcategory_list' %}" class="btn btn-danger bi bi-pencil-square"></a>
                    </div>
                </div>
                <div class="invalid-feedback">Пожалуйста выберите подкатегорию.</div>
            </div>
            <div class="form-group">
                <label for="amount">Сумма:</label>
                <input type="number" id="amount" name="amount" class="form-control" placeholder="Введите сумму"
                       required>
                <div class="invalid-feedback">Пожалуйста введите верную сумму.</div>
            </div>
            <div class="form-group">
                <label for="date">Дата:</label>
                <input type="date" id="date" name="date" class="form-control" required>
                <div class="invalid-feedback">Пожалуйста введите верную дату.</div>
            </div>
            <button type="submit" class="btn btn-primary my-5">Добавить транзакцию</button>
        </form>
    </div>
{% endblock %}
