{% extends 'budget/base.html' %}
{% block title %}Изменить пароль{% endblock %}
{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <h1 class="mb-4">Изменить пароль</h1>
                <form method="post" class="row g-2">
                    {% csrf_token %}
                    <div>
                        <label for="inputOldPassword" class="form-label">Старый пароль</label>
                        <input type="password" class="form-control" id="inputOldPassword" name="old_password">
                    </div>
                    <div>
                        <label for="inputNewPassword1" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control" id="inputNewPassword1" name="new_password1">
                    </div>
                    <div>
                        <label for="inputNewPassword2" class="form-label">Повторите новый пароль</label>
                        <input type="password" class="form-control" id="inputNewPassword2" name="new_password2">
                    </div>
                    <p class="text-muted"> • Ваш пароль не должен быть слишком похож на другую вашу личную информацию.<br>
                        • Ваш пароль должен содержать не менее 8 символов.<br>
                        • Ваш пароль не может быть широко используемым паролем.<br>
                        • Ваш пароль не может быть полностью числовым.
                    </p>
                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Изменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

